<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.3.0/css/font-awesome.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/css/styles.css}" href="../../../css/styles.css"/>

        <script type="application/javascript" th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
        <script type="application/javascript" th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.bundle.min.js}"></script>


        <script type="application/javascript" th:src="@{/js/common.js}" src="../../../js/common.js"></script>
  <!--/*      <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        */-->
    </head>
</html>