<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
  <head>

  </head>
  <body>
    <div th:fragment="navbar">
      <nav class="navbar navbar-expand-lg navbar-light  mb-3 bg-light border-bottom box-shadow">
        <a
            class="navbar-brand"
            th:href="@{/}"> Homepage
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
            class="collapse navbar-collapse"
            id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a
                  class="nav-link"
                  th:href="@{/restaurant}">About
              </a>
            </li>
            <li class="nav-item">
              <a
                  class="nav-link"
                  th:href="@{/categories}">Categories
              </a>
            </li>
            <li class="nav-item">
              <a
                  class="nav-link"
                  th:href="@{/dishes}">Dishes
              </a>
            </li>
            <li class="nav-item">
              <a
                  class="nav-link"
                  th:href="@{/tickets}">Tickets
              </a>
            </li>
          </ul>

          <ul class="navbar-nav">
            <li class="nav-item">
              <span
                  class="navbar-text"
                  th:text="${#authentication.name}"></span>
            </li>
            <li class="nav-item">
              <a
                  class="btn nav-link"
                  th:href="@{/logout}"
                  href="/logout">logout
              </a>
            </li>
          </ul>
        </div>
      </nav>

    </div>

  </body>
</html>