<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Unexpected Error</title>

  <th:block th:include="layout/common_head :: head">common_head</th:block>
</head>
<body class="text-center">
<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <span class="display-1 d-block">500</span>
        <div class="mb-4 lead">Unexpected Error. <span th:text="${error}"></span></div>
        <a href="/" th:href="@{/}" class="btn btn-link">Back to Home</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
