<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Блюда</title>

    <th:block th:include="layout/common_head :: head">common_head</th:block>

</head>
<body>

<th:block th:insert="layout/navbar :: navbar">navbar</th:block>


<div class="container">
    <ul class="list-unstyled">
        <li th:each="category : ${categories}" th:text="${category.name}"></li>
    </ul>
</div>


</body>
</html>
