<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Блюда</title>

    <th:block th:include="layout/common_head :: head">common_head</th:block>

</head>
<body>

<th:block th:insert="layout/navbar :: navbar">navbar</th:block>


<div class="container">


    <div th:each="category : ${categories}">
        <h2 th:text="${category.name}"></h2>

        <div class="card-deck text-center">
            <div th:each="dish : ${dishes}" class="card box-shadow" th:object="${dish}" th:if="${dish.categoryId == category.id}">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal" th:text="*{name}"></h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title" th:text="*{amount}"></h1>
                    <div><img th:src="*{imageUrl}"></div>
                </div>
            </div>
        </div>
    </div>


</div>


</body>
</html>
