<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Блюда</title>

    <th:block th:include="layout/common_head :: head">common_head</th:block>

</head>
<body>

<th:block th:insert="layout/navbar :: navbar">navbar</th:block>


<div th:if="${restaurant != null}" th:object="${restaurant}" class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1 class="text-center" th:text="*{name}"></h1>
            <img th:src="*{logo}">

            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsve">
                        <table class="table table-striped table-hover">
                            <tbody>
                            <tr>
                                <td>О ресторане</td>
                                <td th:text="*{information}"></td>
                            </tr>
                            <tr>
                                <td>Время работы</td>
                                <td><span th:text="*{openFrom}"></span> &mdash; <span th:text="*{openTo}"></span></td>
                            </tr>
                            <tr>
                                <td>Рабочие дни</td>
                                <td th:text="*{openDays}"></td>
                            </tr>
                            <tr>
                                <td colspan="2" th:text="*{legalData.name}"></td>
                            </tr>
                            <tr>
                                <td colspan="2">ИНН: <span th:text="*{legalData.inn}"></span></td>
                            </tr>
                            <tr>
                                <td colspan="2">ОГРН: <span th:text="*{legalData.ogrn}"></span></td>
                            </tr>
                            <tr>
                                <td colspan="2" th:text="*{legalData.address}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>
