<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tickets</title>

    <th:block th:include="layout/common_head :: head">common_head</th:block>

</head>
<body>

<th:block th:insert="layout/navbar :: navbar">navbar</th:block>

<main>
    <div class="container">

        <div th:if="${tickets.isEmpty()}" class="alert alert-primary" role="alert">
            There are not new tickets yet
        </div>

        <div th:each="ticket, iterator : ${tickets}" th:object="${ticket}">
            <h4><span th:text="*{id}"></span> <span class="badge badge-success" th:text="*{status}"></span></h4>
            <div th:each="item : *{items}" th:object="${item}">
                <span th:text="*{name}"></span> x<span th:text="*{quantity}"></span>
            </div>

            <th:block th:replace="ticket_status :: form">form</th:block>

            <hr th:if="!${iterator.last}"/>
        </div>
    </div>
</main>

</body>
</html>
